.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.headerWrapper h2 {
  color: var(--mantine-color-red-8);
}

.headerWrapper a {
  text-decoration: none;
}

.position {
  padding-left: 1rem;
  border-left: solid 3px var(--mantine-color-red-8);
}

.position:not(:last-child) {
  margin-bottom: 1.5rem;
}

.badge {
  text-transform: none;
}

.badgeGroup {
  flex-wrap: wrap;
}

.accomplishmentList :global(.mantine-List-itemWrapper) {
  align-items: flex-start;
}

.accomplishmentList :global(.mantine-List-item) {
  margin-bottom: 0.75rem;
}

.accomplishmentList :global(.mantine-List-item):last-child {
  margin-bottom: 0;
}

.paperStyles {
  margin-top: 1rem;
}

.paperStyles:not(:last-child) {
  margin-bottom: 1rem;
}

.companyDescription {
  text-align: center;
}

@media (max-width: 540px) {
  .companyDescription {
    text-align: left;
  }
}
